body {
  background-color: #ccf5f5;
}

#gameholder {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#title {
  width: 600px;
  height: 150px;
  background-image: url('../images/penguin_title.png');
}

#score {
  width: 150px;
  height: 70px;
  position: absolute;
  left: 75%;
  border: 3px groove darkslategrey;
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 1.5em;
  font-weight: 800;
  color: darkslategrey;
  text-shadow: 2px 2px lightgrey;
  background-color: rgba(0, 0, 0, .1);
}

.penguin:hover {
  background-image: url('../images/mound_1_hover.png');
  cursor: pointer;
}

.penguin:active,.penguin.activeClass {
  background-image: url('../images/penguin_4.png');
}

.penguin {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url('../images/mound_1.png');
}

.yeti:focus, .penguin:focus {
  outline: none;
}

.yeti:hover {
  background-image: url('../images/mound_1_hover.png');
  cursor: pointer;
}

.yeti:active,.yeti.activeClass {
  background-image: url('../images/yeti.png');
}

.yeti {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url('../images/mound_1.png');
}

#highscore {
  color: brown;
  font-family: sans-serif;
}

dialog {
  max-width: 410px;
  margin: auto;
  width: 100%;
}

dialog p {
  text-align: center;
}

#myDialog img {
  vertical-align: middle;
  display: block;
  margin: auto;
}

#myDialogSuccess img {
  vertical-align: middle;
  display: block;
  margin: auto;
}

dialog #finalScore {
  font-weight: bold;
  font-size: 50px;
  color: green;
}

dialog button {
  display: block;
  border-radius: 5px;
  background: #63c156;
  color: #ffffff;
  width: 100%;
  padding: 10px;
  outline: none;
  border-style: none;
}